<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	  <%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/profile" method="get" class="formulario">
				<ul> 
					<li><label class="form-label" for="">Ingrese usuario (mail): </label></li>
					<li><input class="form-label" type="email" name="mail" value="" id="mail" ></li> 
					<li><label class="form-label" for="">Ingrese contraseña: </label></li>
					<li><input class="form-label"type="password" name="password" value="" placeholder=""></li>
					<li> <label class="form-label" for=""> ¿Queres que te recuerde?</label> </li>
					<li> <input class="form-label" type="checkbox" name="recordarme" value="Sí" ></li>

					
			
					<button class="botonFormulario"type="submit">Ingresar</button>
				</ul>

				</form>
			</div>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
</body>

</html>