<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container">
				<form action="/users/profile" method="get" class="formulario">
				<ul> 
					<li><label class="form-label" for="">Agregue una imagen: </label></li> 
					<li><input class="form-label" type="file" name="file" value="" ></li>
					<li><label class="form-label" for="">Ingrese nombre del producto: </label></li> 
					<li><input class="form-label" type="text" name="text" value="" id="name" </li>
					<li><label class="form-label" for="">Agregue una descripcion: </label></li> 
					<li><input class="form-label" type="text" name="text" value="" ></li>
					<li><label class="form-label" for="">Ingrese fecha de carga: </label></li> 
					<li><input class="form-label" type="date" name="date" value="" </li>
					<button class="botonFormulario"type="submit">Agregar productos</button>
				</ul>

				</form>
			</div>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
</body>

</html>