<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container">
				<form action="/users/profile" method="get" class="formulario">
				<ul> 
					<li><input type="email" name="mail" value="" id="mail"  placeholder="Ingrese el nombre del producto "></li> 
					<li><input type="name" name="name" value="" id="name" placeholder="Ingrese un nombre"></li>
					<li><input type="password" name="password" value="" placeholder="Ingrese una contraseña"></li>
					<li><input type="date" name="date" value="" placeholder="Ingrese fecha de nacimiento"></li>
					<li><input type="number" name="number" value="" placeholder="Ingrese dni"></li>
					<li><input type="file" name="file" value="" placeholder="Ingrese foto de perfl"></li>
					<button class="botonFormulario" type="submit">Enviar</button>
				</ul>

				</form>
			</div>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
</body>

</html>