<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container">
			<% if (locals.errors) { %> 
					<h2 class =  "footer-data h2"> <%= locals.errors.message %>  </h2>
					 
					<% } %> 
				<form action="/register" method="POST" class="formulario">
					<ul> 
						<li><label class="form-label" for="email">Ingrese un mail: </label></li> 
						<li><input class="form-label" type="email" name="email" value="" required ></li> 
						<li><label class="form-label" for="text">Ingrese un nombre de usuario: </label></li> 
						<li><input class="form-label" type="text" name="nombre" value=""   ></li>
						<li><label class="form-label" for="password">Ingrese una contraseña:  </label></li> 
						<li><input class="form-label" type="password" name="contrasena" value=""   </li>
						<li><label class="form-label" for="date">Ingrese fecha de nacimiento: </label></li> 
						<li><input class="form-label" type="date" name="date" value="" </li>
						<li><label class="form-label" for="number">Ingrese su DNI:</label></li> 
						<li><input class="form-label" type="number" name="dni" value="" ></li>
						<li><label class="form-label" for="">Ingrese una foto de perfil: </label></li> 
						<li><input class="form-label" type="text" name="fotoDeperfil" value="" ></li>
						<button class="botonFormulario" type="submit">Registrate</button>
					</ul>
	
					</form>

					
			</div>


	<!-- footer -->
	 <%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
</body>

</html>