<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container">
				<form action="/users/profile" method="get" class="formulario">
					<ul> 
						<li><label class="form-label" for="">Ingrese un mail: </label></li> 
						<li><input class="form-label" type="email" name="mail" value="" id="mail" ></li> 
						<li><label class="form-label" for="">Ingrese un nombre: </label></li> 
						<li><input class="form-label" type="name" name="name" value="" id="name"></li>
						<li><label class="form-label" for="">Ingrese un nombre de usuario: </label></li> 
						<li><input class="form-label" type="name" name="name" value="" id="name"></li>
						<li><label class="form-label" for="">Ingrese una contraseña:  </label></li> 
						<li><input class="form-label" type="password" name="password" value="" </li>
						<li><label class="form-label" for="">Ingrese fecha de nacimiento: </label></li> 
						<li><input class="form-label" type="date" name="date" value="" </li>
						<li><label class="form-label" for="">Ingrese DNI</label></li> 
						<li><input class="form-label" type="number" name="number" value="" ></li>
						<li><label class="form-label" for="">Ingrese foto de perfil: </label></li> 
						<li><input class="form-label" type="file" name="file" value="" ></li>
						<button class="botonFormulario" type="submit">Registrese</button>
					</ul>
	
					</form>
			</div>


	<!-- footer -->
	 <%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
</body>

</html>